<h1>HELLO!</h1>

<p><b>Activity:</b> <%= data.activity %></p>
<p><b>Accessibility:</b> <%= data.ccessibility %></p>
<p><b>Type:</b> <%= data.type %></p>
<p><b>Participants:</b> <%= data.participants %></p>
<p><b>Price:</b> <%= data.price %></p>